<table id="assignments">
  <thead>
    <tr>
      <th>Process</th>
      <th>Job</th>
      <th>Expiry Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each assignments}}
    <tr>
      <td>{{number}}</td>
      <td>{{title}}</td>
      <td>{{expiry_date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
